{% extends extends_from %}

{% block admin_body_head %}
    <h1>
        Seiten
        <small>Optional description</small>
    </h1>
{% endblock %}

{% block admin_body_content %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="box box-default ">
                <div class="box-header with-border"><h3 class="box-title"><i class="fa fa-edit"></i> Seiten bearbeiten</h3></div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <tbody>
                        {% for page in pages %}
                            <tr>
                                <td>{{ page.name }}</td>
                                <td><small>{{ page.autoNodeRoute }}</small></td>
                                <td>{% if page.autoNodeRoute %}<a href="{{ path("mm_cmf_admin_homepage", {'route' : page.autoNodeRoute.id} ) }}"><i class="fa fa-eye"></i></a>{% endif %}</td>
                                <td><a href="{{ path("mm_cmf_admin_page_edit", {"id" : page.id}) }}"><i class="fa fa-edit"></i></a></td>
                                <td><a href="{{ path("mm_cmf_admin_page_delete", {"id" : page.id }) }}"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-gears"></i>
                        Options
                    </h3>
                </div>
                <div class="box-body">
                    <a href="{{ path('mm_cmf_admin_page_new') }}" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Neu Seite hinzufügen
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block xhr_body %}
    <table class="table table-responsive">
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.name }}</td>
                <td><small>{{ page.autoNodeRoute }}</small></td>
                <td>{% if page.autoNodeRoute %}<a href="{{ path("mm_cmf_admin_homepage", {'route' : page.autoNodeRoute.id} ) }}"><i class="fa fa-eye"></i></a>{% endif %}</td>
                <td><a href="{{ path("mm_cmf_admin_page_edit", {"id" : page.id}) }}"><i class="fa fa-edit"></i></a></td>
                <td><a href="{{ path("mm_cmf_admin_page_delete", {"id" : page.id }) }}"><i class="fa fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block xhr_footer %}
    <a href="{{ path('mm_cmf_admin_page_new') }}" class="btn btn-success">
        <i class="fa fa-plus"></i>
        Neu Seite hinzufügen
    </a>
{% endblock %}