{% block content_node_form %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default ">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-edit"></i> Inhalte bearbeiten</h3>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Neuen Inhalt <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for type in factory.discrimators %}
                                <li><a href="{{ path('mm_cmf_admin_contentnode_new', {'contentnode_type' : type}) }}">{{ type }} erstellen</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <tbody>
                        {% for contentnode in contentnodes %}
                            <tr>
                                <td>{{ contentnode.name }}</td>
                                <td>{{ factory.discrimatorByClass(contentnode) }}</td>
                                <td><a href="{{ path("mm_cmf_admin_contentnode_edit", {"id" : contentnode.id}) }}"><i class="fa fa-edit"></i></a></td>
                                <td><a href="{{ path("mm_cmf_admin_contentnode_delete", {"id" : contentnode.id }) }}"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}