{% extends extends_from %}

{% block admin_body_head %}
    <h1>
        Inhalte
    </h1>
{% endblock %}

{% block admin_body_content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default ">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-edit"></i> Inhalte bearbeiten</h3>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Neuen Inhalt <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for type in factory.discriminators %}
                                <li><a href="{{ path('mm_cmf_admin_contentnode_new', {'contentnode_type' : type}) }}">{{ type }} erstellen</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <tbody>
                        {% for contentnode in contentnodes %}
                            <tr>
                                <td>{{ contentnode.name }}</td>
                                <td>{{ factory.discriminatorByClass(contentnode) }}</td>
                                <td align="right">
                                    {% spaceless %}
                                        <a class="btn btn-default" href="{{ path("mm_cmf_admin_visibilty_toggle", {"id" : contentnode.id }) }}">{% if contentnode.visible %}<i class="fa fa-eye"></i> {% else %}<i class="fa fa-eye-slash"></i>{% endif %}</span></a>
                                        <a class="btn btn-default" href="{{ path("mm_cmf_admin_contentnode_edit", {"id" : contentnode.id }) }}"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger" href="{{ path("mm_cmf_admin_contentnode_delete", {"id" : contentnode.id }) }}"><i class="fa fa-trash"></i></a>
                                    {% endspaceless %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}